{% extends 'modelo.html' %}

{% block cabecalho %}

{% endblock %}

{% block conteudo %}
<br><br><br><br><br><br><br><br>


<div class="form-group">
  <label for="exampleInputEmail1" id="label">Email</label>
  <!-- <p>Email</p> -->
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" email">


  <label for="exampleFormControlTextarea1">Assunto</label>
   <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  <br>
  <button type="submit" class="btn btn-primary">Enviar</button>
</div>


{% endblock %}
