{% extends 'modelo.html' %}

{% block cabecalho %}

{% endblock %}

{% block conteudo %}
<br><br><br><br><br><br><br>

<div class="container" id="sobre">

  <div class="row">

    <div class="col-sm p-8">

      <h1>

      </h1>

      <div class="cd">

      </div>
      <h1> Sobre nós
      </h1>
      O Adote um animal é um site em que ONGs e Protetores de todo o Brasil podem divulgar cães e gatos para adoção.
      O projeto existia informalmente desde 2012, mas em 2017 nos registramos oficialmente como uma Associação!
      Isso nos permite fazer grandes parcerias com empresas e estamos bem animados sobre o que vem por aí!
    </div>
  </div>
</div>


{% endblock %}
